
APP_ENV=production

APP_NAME=Secure Notepad Pro
APP_VERSION=2.0.0
AUTHOR=Marco Polo
APP_DEVELOPER=PatronHubDevs
COPYRIGHT_YEAR=2025
ABOUT_APP=Military-grade encryption meets modern note-taking.

ICON_PATH=:/assets/icons/lock_icon.png
ABOUT_ICON_PATH=:/assets/icons/about_icon.png
DONATE_ICON_PATH=:/assets/icons/donate_icon.png
HELP_ICON_PATH=:/assets/icons/help_icon.png
MAYA_QR_PATH=:/assets/resources/maya_bin_file
MAYA_QR_KEY=KqTen1MmkOycHJp5HqBkcaCWZ7Be8p-ClzSf9srKm3c=

GITHUB_ID=https://github.com/yourname
KOFI_ID=https://ko-fi.com/post/yourpost
PAYPAL_ID=https://paypal.me/yourname

BTC_NAME=Bitcoin (BTC) Address
ETH_NAME=Ethereum (ETH) Address
BTC_ID=1BcWJT8gBdZSPwS8UY39X9u4Afu1nZSzqk
ETH_ID=0xcd5eef32ff4854e4cefa13cb308b727433505bf4

