
APP_ENV=production

APP_NAME=Secure Notepad Pro
APP_VERSION=2.0.0
AUTHOR=Marco Polo
APP_DEVELOPER=PatronHubDevs
COPYRIGHT_YEAR=2025
ABOUT_APP=Military-grade encryption meets modern note-taking.

ICON_PATH=:/assets/icons/lock_icon.png
ABOUT_ICON_PATH=:/assets/icons/about_icon.png
DONATE_ICON_PATH=:/assets/icons/donate_icon.png
HELP_ICON_PATH=:/assets/icons/help_icon.png
MAYA_QR_PATH=:/assets/resources/maya_bin_file
MAYA_QR_KEY=your_maya_key

GITHUB_ID=https://github.com/yourname
KOFI_ID=https://ko-fi.com/post/yourpost
PAYPAL_ID=https://paypal.me/yourname

BTC_NAME=Bitcoin (BTC) Address
ETH_NAME=Ethereum (ETH) Address
BTC_ID=your_bitcoin_id
ETH_ID=your_eth_id
